@media screen and (min-width: 3000px){#cards > div{
border-radius: .5rem;
font-size: 12rem;
border:1rem solid black;
padding:2rem;
width:22%;
background-color:azure;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: .5rem;
font-size: 12rem;
border:1rem solid black;
padding: 2rem;
width:22%;
display: flex;
justify-content: center;
align-items: center;
background-color:pink;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
.bg-1{}
.bg-2{}
.bg-3{}	
.bg-4{}
.bg-5{}
.bg-6{}
.bg-7{}	
.bg-8{}
.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
@media screen and (min-width: 480px) and (max-width: 3000px){#cards > div{
border-radius: 10px;
font-size: 2em;
border:10px solid black;
padding:.63em;
width:20%;
background-color:azure;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: 10px;
font-size: 2em;
border:10px solid black;
padding:.63em;
width:20%;
display: flex;
justify-content: center;
align-items: center;
background-color:pink;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
.bg-1{background-image:url('bunnies.jpg')}
.bg-2{background-image:url('kittens.jpg')}
.bg-3{background-image:url('fox.jpg')}	
.bg-4{background-image:url('polarbear.jpg')}
.bg-5{background-image:url('puppy.jpg')}
.bg-6{background-image:url('puppy2.jpg')}
.bg-7{background-image:url('redpanda.jpg')}	
.bg-8{background-image:url('puppy4.jpg')}
							     
.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
@media screen and (max-width: 479px) and (orientation: portrait){#cards > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.8rem;
width:20%;
background-color:azure;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.8rem;
width:20%;
display: flex;
justify-content: center;
align-items: center;
background-color:pink;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
.bg-1{ background-image: url('blackbear.jpg')}
.bg-2{ background-image: url('babyelephant.jpg')}
.bg-3{ background-image: url('cat.jpg')}	
.bg-4{ background-image: url('calf.jpg')}
.bg-5{ background-image: url('giraffe.jpg')}
.bg-6{ background-image: url('meerkat.jpg')}
.bg-7{ background-image: url('tiger.jpg')}	
.bg-8{background-image: url('joey.jpg')}
.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
@media screen and (max-height: 479px) and (orientation: landscape){#cards > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.9rem;
width:9%;
background-color:azure;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.9rem;
width:9%;
display: flex;
justify-content: center;
align-items: center;
background-color:pink;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;
}
.bg-1{background-image:url('bunnies.jpg')}
.bg-2{background-image:url('kittens.jpg')}
.bg-3{background-image:url('fox.jpg')}	
.bg-4{background-image:url('polarbear.jpg')}
.bg-5{background-image:url('puppy.jpg')}
.bg-6{background-image:url('puppy2.jpg')}
.bg-7{background-image:url('redpanda.jpg')}	
.bg-8{background-image:url('puppy4.jpg')}

.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
