@media screen and (min-width: 3000px){#cards > div{
border-radius: .5rem;
font-size: 12rem;
border:1rem solid black;
padding:2rem;
width:22%;
background-color:#F5E7DE;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: .5rem;
font-size: 12rem;
border:1rem solid black;
padding: 2rem;
width:22%;
display: flex;
justify-content: center;
align-items: center;
background-color:#7ed5ea;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
.bg-1{background-image:url('scott-webb-ttCFWHrmWH4-unsplash.jpg')}
.bg-2{background-image:url('yuheng-ouyang-nwKDXBStyEo-unsplash.jpg')}
.bg-3{background-image:url('puppy.jpg')}	
.bg-4{background-image:url('little-plant-ZoAPn-rTDOg-unsplash.jpg')}
.bg-5{background-image:url('elena-mozhvilo-UspYqrVBsIo-unsplash.jpg')}
.bg-6{background-image:url('scott-webb-ttCFWHrmWH4-unsplash.jpg')}
.bg-7{background-image:url('erik-hathaway-uv7Kaaf8m7M-unsplash.jpg')}	
.bg-8{background-image:url('little-plant-ZoAPn-rTDOg-unsplash.jpg')}
.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
@media screen and (min-width: 480px) and (max-width: 3000px){#cards > div{
border-radius: 10px;
font-size: 2em;
border:10px solid black;
padding:.63em;
width:20%;
background-color:#F5E7DE;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: 10px;
font-size: 2em;
border:10px solid black;
padding:.63em;
width:20%;
display: flex;
justify-content: center;
align-items: center;
background-color:#7ed5ea;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
.bg-1{background-image:url('bunnies.jpg')}
.bg-2{background-image:url('kittens.jpg')}
.bg-3{background-image:url('fox.jpg')}	
.bg-4{background-image:url('polarbear.jpg')}
.bg-5{background-image:url('puppy.jpg')}
.bg-6{background-image:url('puppy2.jpg')}
.bg-7{background-image:url('redpanda.jpg')}	
.bg-8{background-image:url('puppy4.jpg')}
							     
.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
@media screen and (max-width: 479px) and (orientation: portrait){#cards > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.8rem;
width:20%;
background-color:#F5E7DE;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.8rem;
width:20%;
display: flex;
justify-content: center;
align-items: center;
background-color:#7ed5ea;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
.bg-1{ background-image: url('blackbear.jpg')}
.bg-2{ background-image: url('babyelephant.jpg')}
.bg-3{ background-image: url('cat.jpg')}	
.bg-4{ background-image: url('calf.jpg')}
.bg-5{ background-image: url('giraffe.jpg')}
.bg-6{ background-image: url('meerkat.jpg')}
.bg-7{ background-image: url('tiger.jpg')}	
.bg-8{background-image: url('joey.jpg')}
.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
@media screen and (max-height: 479px) and (orientation: landscape){#cards > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.9rem;
width:9%;
background-color:#F5E7DE;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;}
#answers > div{
border-radius: 10px;
font-size: 2rem;
border:10px solid black;
padding:.9rem;
width:9%;
display: flex;
justify-content: center;
align-items: center;
background-color:#7ed5ea;
font-family: Helvetica, Arial, sans-serif;
-webkit-box-shadow: 0px 0px 0px 4px #fff;
-moz-box-shadow: 0px 0px 0px 4px #fff;
box-shadow: 0px 0px 0px 4px #fff;
}
.bg-1{background-image:url('bunnies.jpg')}
.bg-2{background-image:url('kittens.jpg')}
.bg-3{background-image:url('fox.jpg')}	
.bg-4{background-image:url('polarbear.jpg')}
.bg-5{background-image:url('puppy.jpg')}
.bg-6{background-image:url('puppy2.jpg')}
.bg-7{background-image:url('redpanda.jpg')}	
.bg-8{background-image:url('puppy4.jpg')}

.selected
{
background-color:lime !important;
float:left;}
.flex-container {
  display: flex;
  flex-direction: row;
  height:50%;
  width:100%;
  display: flex;
align-items: stretch;

flex-wrap: wrap;
}
#ref{
border-radius: 50px;
font-size: 2rem;
padding:1rem;
border:4px solid black;
background-color:blue;
color:white;
position:absolute;
left: 10px;
bottom: 10px;
z-index: 2;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
display:none;
	}
}
    .notebook {background: linear-gradient(
90deg,
    rgba(5, 5, 5, 0.1) 0%,
    rgba(5, 5, 5, 0.1) 20%,
    #ed53a3 20%,
    #ed53a3 20.25%,
    rgba(5, 5, 5, 0.1) 20.25%,
    rgba(5, 5, 5, 0.1) 100%
),
linear-gradient(
    rgba(5, 5, 5, 0.1) 0%,
    rgba(5, 5, 5, 0.1) 20%,
    #6aabc2 20%,
    #6aabc2 20.25%,
    rgba(5, 5, 5, 0.1) 20.25%,
	rgba(5, 5, 5, 0.1) 40%,
    #6aabc2 40%,
    #6aabc2 40.25%,
    rgba(5, 5, 5, 0.1) 40.25%,
    rgba(5, 5, 5, 0.1) 60%,
    #6aabc2 60%,
	#6aabc2 60.25%,
    rgba(5, 5, 5, 0.1) 60.25%,
	rgba(5, 5, 5, 0.1) 80%,
    #6aabc2 80%,
	#6aabc2 80.25%,
    rgba(5, 5, 5, 0.1) 80.25%,
    rgba(5, 5, 5, 0.1) 100%
);

background-size: cover;
  background-attachment: fixed;
    }
	 .indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:2em;
}
.space-links{	padding-top: 1%;}
.texty-urls{ text-decoration:none;
	   color:black;}
